[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "2.24.0" 
flask = "==1.1.1"
qrcode = "*"
pillow = "*"
flask-api-stats = "*"
sqlalchemy = "*"
flask-monitoringdashboard = "*"

[requires]
python_version = "3.8"
